<link rel="stylesheet" href="subpage4.css">
h1{
  background-color:lightgrey;
  color:#333
}
h2{
  margin-top:-32%;
  text-align:right;
}
p{
  text-align:justified;
  size:2cm
}
footer{
  color:#333;
  text-align: center;
  background-color:lightgrey;
}
