<link rel="stylesheet" href="subpage1.css">
h1{
  background-color: lightgrey;
  color: #333;
}
p{
  text-align:justified;
  size:2cm;
}
footer{
    color: #333;
    background-color: lightgrey;
    text-align: center;
}
